<div class="card border-primary mb-3">
    <div class="card-header">Customers</div>
    <div class="card-body text-primary">
      <h5 class="card-title">List of customers</h5>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/customer/form']" >
          Crear Cliente
        </button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Country</th>
            <th>Phone number</th>
            <th>Status</th>
            <th>Gender</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.address }}</td>        
            <td>{{ customer.country }}</td>
            <td>{{ customer.phoneNumber }}</td>
            <td>{{ customer.status }}</td>
            <td>{{ customer.gender }}</td>
            <td>
                <button type="button" name="editar" [routerLink]="['/customer/form', customer.id]" class="btn btn-primary btn-sm">Edit</button>
            </td>
            <td>
                <button type="button" name="dependants" [routerLink]="['/dependant', customer.id]" class="btn btn-success btn-sm">Dependants</button>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  