<div class="form-group">
    <button class="btn btn-danger" role="button" routerLink="">Back</button>
</div>

<div class="card-header">Dependants</div>
<div class="card-body text-primary">
  <h5 class="card-title">List of Dependants</h5>
  <div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button" routerLink="/newdependant/{{customerId}}">
      Add Dependant
    </button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>Country</th>
        <th>Gender</th>
        <th>Relationship Customer</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dependant of dependants">
        <td>{{ dependant.id }}</td>
        <td>{{ dependant.firstName }}</td>
        <td>{{ dependant.lastName }}</td>
        <td>{{ dependant.address }}</td>        
        <td>{{ dependant.country }}</td>
        <td>{{ dependant.gender }}</td>
        <td>{{ dependant.relationToCostumer }}</td>
        <td>
            <button type="button" name="editar" routerLink="/dependant/form/{{customerId}}/{{dependant.id}}" class="btn btn-primary btn-sm">Edit</button>
        </td>
        <td>
            <button type="button" name="editar" (click)='delete(dependant)' class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

