<div class="form-group">
    <button class="btn btn-danger" role="button" routerLink="/dependant/{{customerId}}">Back</button>
</div>

<div class="card bg-dark text-white">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">

        <form #customerForm="ngForm">
            <div class="form-group row">
                <label for="firstName" class="col-form-label col-sm-2">First name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="dependant.firstName" name="firstName" required #firstName="ngModel">
                    <div class="alert alert-danger" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                        <div *ngIf="firstName.errors?.['required']">
                            FirstName required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="lastName" class="col-form-label col-sm-2">Last name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="dependant.lastName" name="lastName" required #lastName="ngModel">
                    <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                        <div *ngIf="lastName.errors?.['required']">
                            LastName required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="address" class="col-form-label col-sm-2">address</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="dependant.address" name="address" required #address="ngModel">
                    <div class="alert alert-danger" *ngIf="address.invalid && (address.dirty || address.touched)">
                        <div *ngIf="address.errors?.['required']">
                            address required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="city" class="col-form-label col-sm-2">city</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="dependant.city" name="city" required #city="ngModel">
                    <div class="alert alert-danger" *ngIf="city.invalid && (city.dirty || city.touched)">
                        <div *ngIf="city.errors?.['required']">
                            city required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="country" class="col-form-label col-sm-2">country</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="dependant.country" name="country" required #country="ngModel">
                    <div class="alert alert-danger" *ngIf="country.invalid && (country.dirty || country.touched)">
                        <div *ngIf="country.errors?.['required']">
                            country required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="relationToCostumer" class="col-form-label col-sm-2">Relationship to costumer</label>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" name="relationToCostumer" [(ngModel)]="dependant.relationToCostumer" required #relationToCostumer="ngModel">
                        <option value="Friend">Friend</option>
                        <option value="Brother">Brother</option>
                        <option value="Cousin">Cousin</option>
                        <option value="Spouse">Spouse</option>
                        <option value="Sibling">Sibling</option>
                        <option value="Father">Father</option>
                        <option value="Mother">Mother</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="relationToCostumer.invalid && (relationToCostumer.dirty || relationToCostumer.touched)">
                        <div *ngIf="relationToCostumer.errors?.['required']">
                            relationToCostumer required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="gender" class="col-form-label col-sm-2">gender</label>
                <div class="col-sm-6">
                    <select  class="form-control" aria-label="Default select example" name="gender" [(ngModel)]="dependant.gender" required #gender="ngModel">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                        <div *ngIf="gender.errors?.['required']">
                            gender required
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()'
                        *ngIf="!dependant.id else elseBlock" [disabled]="!customerForm.form.valid">Create</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!customerForm.form.valid">Edit</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>

        

    
