  <nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
  
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarSupportedContent">
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink='/dashboard' *ngIf="authService.hasRole('ROLE_ADMIN')" (click)="isMenuCollapsed = true">Dashboard<i class="fas fa-tachometer-alt ml-1 fa-lg"></i></a>  
        </li>
       
      </ul>
      
      <ul class="navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-primary" (click)="isMenuCollapsed = true">Sign in</a></li>
  
        <li *ngIf="authService.isAuthenticated()" class="dropdown">
          <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{this.authService.user.username}}
            
          </a>
        
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <button [routerLink]="['/settings']" class="dropdown-item" type="submit" (click)="isMenuCollapsed = true">Settings</button>
            <button (click)='logout()' class="dropdown-item" type="submit" (click)="isMenuCollapsed = true">Sign out</button>
          </div>
        </li>
      </ul>
    </div>
    </nav>